.about-page {
    width: 75%;
    margin: auto;
    padding-top: 20px;
    min-height: 100vh;
}

.about-content {
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 20px;
}

.about-us,
.executives {
    padding: 20px;
}
.executive-photo {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    display: block;
}