.event {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(200, 200, 200, 0.333);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    max-width: 60%;
}

.event-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.event-text h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.event-text p {
    margin-bottom: 25px;
}

.learn-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    margin-top: 1.5rem;
}

.learn-more a {
    color: white;
    text-decoration: none;
}

.learn-more:hover {
    background-color: #0056b3;
}

.event-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.event-image {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.past-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

.past-events-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.past-events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
    max-width: 60%;
}

.past-event-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(197, 185, 185, 0.1);
    padding: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.section-title {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0 20px;
}