.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(173, 154, 135, 0.125);
}

.logo-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

.logo {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.logo img {
    width: 55px;
    height: 55px;
}

nav {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 2rem;
}

.header-title {
    margin-top: 0;
}
.link-default {
    color: black;
}

.link-active {
    color: rgb(255, 140, 0);
}

h1 {
    font-size: 5rem;
    margin: 0;
}
.cta-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
}
.cta-button {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(255, 140, 0);
    border: 2px solid #FF8C00;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #FF8C00;
    color: white;
}
.header-title.langara {
    background: linear-gradient(to right, grey, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
