.home-page {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.home-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.home-background {
    background-color: whitesmoke;
}

.home-content {
    max-width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
}

.home-page-header {
    text-align: center;
    padding: 50px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

.home-events-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.home-page-heading {
    grid-column: span 3;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.home-event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-event-image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 1rem auto;
}

.home-event-info {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-learn-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.home-our-section {
    padding: 40px 20px;
    background-color: #f0f0f0;
}

.home-our-section h2 {
    margin: 0;
}

.home-our-vision-mission {
    display: grid;
    grid-template-columns: 0.75fr 1.15fr;
    gap: 10px;
    align-items: start;
    margin-bottom: 40px;
    margin: auto;
}

.home-our-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0 12.5%;
}

.home-our-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-benefits-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
    margin: auto;
    margin-left: 5%;
}

.home-benefit-card {
    padding-right: 1.5rem;
}

.home-benefit-card h3 {
    font-size: 2rem;
    color: #6f42c1;
    margin-bottom: 10px;
}

.home-benefit-card h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.home-benefit-card p {
    font-size: 1rem;
    color: #6c757d;
}